# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
dataset/*.json
dataset/*.csv
dataset/processed/*.csv

# Trained models
models/*.pkl
models/*.joblib
models/*.pt
models/*.bin
models/*.safetensors
models/
notebooks/models/

# Hugging Face cache
.cache/
huggingface_cache/

# VS Code
.vscode/